<div id="<%= dom_id teams_soccer %>">
  <p>
    <strong>Time Name:</strong>
    <%= teams_soccer.title %>
  </p>

  <p>
    <strong>History:</strong>
    <%= teams_soccer.description %>
  </p>

  <p>
    <strong>Hino:</strong>
    <%= teams_soccer.text %>
  </p>

</div>
