<h1>Editing teams soccer</h1>

<%= render "form", teams_soccer: @teams_soccer %>

<br>

<div>
  <%= link_to "Show this teams soccer", @teams_soccer %> |
  <%= link_to "Back to teams soccers", teams_soccers_path %>
</div>
